*.log
.DS_Store
/frontend/__MACOSX/
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/fro ders fixing hostingntend/node_modules/
/frontend/myturn_ptp/node_modules/
/frontend/myturn_ptp/dist/
/frontend/dist/
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/backend/vendor/
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
